<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Top navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['editor']">Editor <span class="sr-only">(current)</span></a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" [routerLink]="['login']">Login <span class="sr-only">(current)</span></a>
        </li>-->
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <button *ngIf="checkForLoggedOut()" class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['login']">Login</button>
        <button *ngIf="checkForLogin()" class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['logout']">Logout</button>
      </form>
    </div>
  </nav>

  <main role="main" class="container">
    <div class="jumbotron">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>
    <footer>
      <p>Web based Apex Editor</p>
      <p>Developed By - Nagendra Kumar Singh</p>
    </footer>
  </main>
</div>
